body{
    background:#333029;
}
.quickSearch{
    margin: auto;
    width: 50%;
    height: 60%;
    text-align: center;
    border:1px solid #eae0c2;
    padding:0.4em;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #333029;
}
#total{
    color:#eae0c2;
    font-size: 15px;
    margin: 2%;
    font-family: Verdana, Geneva, sans-serif;}
i{  vertical-align: middle;
    color:#eae0c2;
    margin-left: 0.1em;
    display: inline;
}
h1{ margin:2.5%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
    color:#eae0c2;/* #768d87;*/
}

p{   margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    text-align: center;
    bottom:15%;
    height: 22px;

}
input{
    background:transparent;
    margin-bottom: 5px;
    border-color: transparent;/**#ccc2a6;**/
}
input:focus, textarea:focus {
    outline: none;
}
.items {
  
    width:60%;
    margin:1em auto;
    -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
    -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
    background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
    background-color:#eae0c2;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:2px solid #333029;
    display:block;
    cursor:pointer;
    color:#505739;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:12px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}


}
.items:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
    background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
    background-color:#ccc2a6;
}
.items:active {
    position:relative;
    top:1px;

}


#container{
    border:1px solid #ccc2a6;
    width:50%;
    margin:auto;
    text-align: center;
}
#content{
    text-align: center;
    
}
.active{
    
     background-color: #ccc2a6;
    
}